*

!*/

!**/.gitignore

!/README.md
!imgs/**/*

!btop/btop.conf
!btop/themes/*.theme

!fish/config.fish

!helix/themes/*.toml
!helix/config.toml

!hypr/hyprlock.conf

!kitty/*.conf
!kitty/themes/*.conf

!mpv/mpv.conf

!noctalia/*.json
!noctalia/templates/*
!noctalia/user-templates.toml

!pwsh/Profile.ps1

!qimgv/qimgv.conf
!qimgv/theme.conf

!starship/starship.toml

!tacky-borders/config.yaml

!vesktop/settings/quickCss.css
!vesktop/themes/*.css

!vscode/settings.json
!vscode/vscode.css

!wt/settings.json

!yazi/init.lua
!yazi/*.toml
!yazi/flavors/**/*.toml
!yazi/plugins/**/*.lua

!zed/settings.json

!zen/userChrome.json
