layout {
    border {
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.primary.default.hex}}40"
        urgent-color   "{{colors.error.default.hex}}"
    }

    tab-indicator {
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.primary.default.hex}}40"
        urgent-color   "{{colors.error.default.hex}}"
    }

    insert-hint {
        color "{{colors.primary.default.hex}}80"
    }
}
